[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/UDS"]
	path = lib/UDS
	url = https://github.com/0xPhaze/UDS
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/futils"]
	path = lib/futils
	url = https://github.com/0xPhaze/futils
[submodule "lib/fx-contracts"]
	path = lib/fx-contracts
	url = https://github.com/0xPhaze/fx-contracts
