[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/ERC721A"]
	path = lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
[submodule "lib/UDS"]
	path = lib/UDS
	url = https://github.com/0xphaze/UDS
[submodule "lib/contracts"]
	path = lib/fx-portal
	url = https://github.com/fx-portal/contracts
