[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/ArrayUtils"]
	path = lib/ArrayUtils
	url = https://github.com/0xPhaze/ArrayUtils
[submodule "lib/UDS"]
	path = lib/UDS
	url = https://github.com/0xPhaze/UDS
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
